<a href="https://colab.research.google.com/github/navyanutakki/Digital_profile/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [31]:
import nltk

In [32]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [33]:
import pandas as pd

In [34]:
dt=pd.read_csv("spam.csv",encoding='Windows-1252')

In [35]:
import chardet
with open("spam.csv",'rb')as rawdata:
      result=chardet.detect(rawdata.read(100000))
result

{'confidence': 0.73, 'encoding': 'Windows-1252', 'language': ''}

In [36]:
dt.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [37]:
dt['spam']=dt['type'].map({'spam':1,'ham':0}).astype(int)

In [38]:
dt.head()

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [39]:
print("COLUMNS IN THE GIVEN DATA: ")
for cols in dt.columns:
    print(cols)

COLUMNS IN THE GIVEN DATA:
type
text
spam

In [40]:
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COLUMN:", t)

NO OF ROWS IN REVIEW COLUMN: 116

In [41]:
def tokenizer(text):
     return text.split()

In [42]:
dt['text']=dt['text'].apply(tokenizer)

In [43]:
dt.head()

   type                                               text  spam
0   ham  [Go, until, jurong, point,, crazy.., Available...     0
1   ham               [Ok, lar..., Joking, wif, u, oni...]     0
2  spam  [Free, entry, in, 2, a, wkly, comp, to, win, F...     1
3   ham  [U, dun, say, so, early, hor..., U, c, already...     0
4   ham  [Nah, I, don't, think, he, goes, to, usf,, he,...     0

In [44]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english",ignore_stopwords=False)

In [45]:
def stem_it(text):
    return[porter.stem(word) for word in text]

In [46]:
dt['text']=dt['text'].apply(stem_it)

In [47]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [48]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [49]:
def lemmit_it(text):
     return [lemmatizer.lemmatize(word,pos='a') for word in text]

In [50]:
dt['text']=dt['text'].apply(lemmit_it)

In [51]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [52]:
from nltk.corpus import stopwords
stop_words=stopwords.words("english")

In [53]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [54]:
def stop_it(text):
  review=[word for word in text if not word in stop_words]
  return review

In [55]:
dt['text']=dt['text'].apply(stop_it)

In [57]:
dt['text'][4]

['nah', 'think', 'goe', 'usf,', 'live', 'around', 'though']

In [58]:
dt.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [59]:
dt['text']=dt['text'].apply(' '.join)

In [60]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [61]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [62]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [63]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)

In [64]:
from sklearn.metrics import accuracy_score
acc_log=accuracy_score(y_pred,y_text)*100
print("accuracy:",acc_log)

accuracy: 87.5